.eventParent{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    min-height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    width: 350px;
    min-height: 200px;
    padding: 8px;
    border-radius: 8px;
}
