.rightDiv {
  background-image: url("../../../../public/images/drinkpointBlack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.fixWidth {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .rightDiv {
    background: black;
    min-height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 875px) {
  .fixWidth {
    width: 55%;
  }
}

@media screen and (max-width: 875px) {
  .fixWidth{
    width: 70%;
  }
}

@media screen and (max-width: 522px) {
  .disappear {
    display: none;
  }
}
